@model IEnumerable<ClassDemo.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="quote">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.RetailPrice)
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RetailPrice)
            </td>
            <td>
                @*ADD BUTTON WILL SEND TO SHOPPING LIST*@
                <a class="btn button-primary" style="color:gray" asp-action="Details" asp-route-id="@item.Id">Add</a>
                @*<a class="btn button-primary" style="color:gray" asp-action="Details" asp-route-id="@item.Id">Details</a>*@
            </td>
        </tr>

}
    </tbody>
</table>
    <p>
    <a asp-action="Deleted">View Deleted Items</a>
    </p>
    <form asp-action="Export">
        <input type="submit" value="Export" class="btn btn-danger" />
    </form>
